/node_modules
todo.txt
.env
.env.production
.env.development
private.key
public.key
symbol.json
/log
**/.DS_Store
strategy.js
**/token.txt
test/marketIndex/momentum_data.xlsx
/dist
src/scripts/index.html
src/scripts/token
logs/
/secrets